.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__/

# Jupyter Notebook
.ipynb_checkpoints

# virtual environment
.venv*

# project specific
FBNN
GPflow-Slim
zhusuan
thermo
figures
logs
.save_data
notebooks/experimental
test.py
fBBN_GP_Posterior.md
*.ipynb
uci_data
